$CLR_PRIMARY: #00A11E;
$CLR_SECONDARY: rgba(0, 161, 30, 0.07);
$CLR_DARK: #282136;
$CLR_DARK_2: #3D374A;
$CLR_GRAY: #5B5E77;
$CLR_GRAY_BACK: #F8F9FA;

$FNT_PRIMARY: "Source Sans Pro";

$BRDR_RAD: 2px;